
.FilmLibrary {
  position: relative;
  display: flex;
  width: 90%;
  height: 90%;
  align-items: stretch;
  justify-content: space-around;
  border: 1px solid red;
  margin: 0 auto; /* Centers the element horizontally */
}

.FilmLibrary .film-list {
  position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  padding: 3.6em 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
  /* border: 1px solid red; */
}

.FilmLibrary .film-list > .section {
  width: 33.333333%;
  margin: 0 auto; /* Centers the element horizontally */
  /* left: 0; */
}

.FilmLibrary .film-list > .section-title {
  width: 33.333333%;
  margin: 0 auto; /* Centers the element horizontally */
  /* left: 0; */
}

.FilmLibrary .film-details {
  flex: 0 1 66.666666%;
  background-color: #f0f0f0;
}

.FilmLibrary .section-title {
  /* position: fixed; */
  top: 0;
  z-index: 10;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0 auto; /* Centers the element horizontally */
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.FilmLibrary .film-list-filters {
  /* position: fixed; */
  top: 1.6em;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 33.333333%;
  margin: 0 auto; /* Centers the element horizontally */
}

.FilmLibrary .film-list-filter {
  flex-grow: 1;
  background-color: #bbb;
  color: white;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border:none;
}

.FilmLibrary .film-list-filter:hover {
  background-color: hsl(177, 70%, 46%);
}
.FilmLibrary .film-list-filter:active {
  background-color: rgb(40, 205, 197);
}

.FilmLibrary .film-list-filter.is-active {
  background-color: lightseagreen;
}

.FilmLibrary .section-count {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 20%;
  margin-left: 0.5em;
  font-weight: bold;
}

.FilmLibrary .film-container {
  width: 90%;
  margin: 0 auto; /* Centers the element horizontally */
  border: 1px solid red;
}

.films{
  display: inline-flex;
  margin: 1% 2%; /* Centers the element horizontally */
  width: 15%;
  border: 1px solid red;
}


